/*#bodyImg {
background-image: url("eyes.jpg");
background-repeat: no-repeat;
background-position:center;

}
img {
    opacity: 0.1;
}*/
.row {
    display: none;
}
@media only screen and (max-width: 768px) {
    .row {
        display: initial;
    }
  }
  